{% extends 'layout.html.twig' %}

{% block wrapper %}

    {% if is_granted('ROLE_ADMIN') %}

        <a href="...">ok</a>
        <p>User: {{ app.user }}</p>

    {% endif %}

    <br/>
    Query users: 
    {% set user0 = app.request.server.get('query_user') %}
    {{ app.request.server.get('query_user') }}

    <a href="{{ path('app_my_route', {'user': '0', 'pass': '1'}) }}">Login</a>

{% endblock %}
