{% extends 'layout.html.twig' %}

{% block wrapper %}

    <ul>
        <li>Your admin at <code><a href="{{ '/phpliteadmin.php' }}" target="_blank">/phpliteadmin.php</a></code></li>
    </ul>

{% endblock %}
