<?xml version="1.0" encoding="UTF-8" ?>
<!-- config/routes.xml -->

<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <!-- the controller value has the format 'controller_class::method_name' -->
    <route id="redirect" path="/old-path"
        controller="Symfony\Bundle\FrameworkBundle\Controller\RedirectController">
        <!--path locale="en">/about-us</path>
        <path locale="nl">/over-ons</path-->

        <condition>context.getMethod() in ['GET', 'HEAD'] and request.headers.get('User-Agent') matches '/.*/i'</condition>
        <default key="path">/new-path</default>
        <default key="permanent">true</default>
        <default key="keepQueryParams">true</default>
        <requirement key="page">\d+</requirement>
    </route>

    <!-- if the action is implemented as the __invoke() method of the
            controller class, you can skip the '::method_name' part:
            controller="App\Controller\BlogController"/> -->
</routes>