{% extends 'layout.html.twig' %}

{% block title %}Hello {{ controller_name }}Controller!{% endblock %}

{% block wrapper %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/src/Controller/DoctrineController.php'|file_link(0) }}">src/Controller/{{ controller_name }}Controller.php</a></code></li>    
        <li>Your admin at <code><a href="{{ '/phpliteadmin.php' }}" target="_blank">/phpliteadmin.php</a></code></li>
    </ul>

{% endblock %}
