##########
# GITHUB #
##########

# DOC
# https://github.com/actions/starter-workflows/

name: Symfony

on:
  push:
    branches: [ branch ]

###
# Jobs
###
jobs:
  #########
  # TESTS #
  #########
  tests:
    runs-on: ubuntu-latest
    name: Lint
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v2

    # Php, composer, ext, xdebug
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        coverage: xdebug
        extensions: mbstring, intl
        php-version: "7.3"

    - name: Symfony cli
      run: |
        wget https://get.symfony.com/cli/installer -O - | bash
        mv /root/.symfony/bin/symfony /usr/local/bin/symfony

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install composer dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      # --no-plugins avoid to install grumphp's git hook
      run: composer install --prefer-dist --no-progress --no-plugins

  ##########
  # DEPLOY #
  ##########
  deploy:
    needs: tests
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
    
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.3'

      - name: Deploy
        env:
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REPOSITORY: ${{ secrets.REPOSITORY }}
          SSH_KEY: ${{ secrets.SSH_HOST_KEY }}
        run: |
          mkdir -p /home/runner/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
          make deployer-bin
          dep deploy prod -v